// Place all the styles related to the Films controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	font-family: 'Open Sans';
	font-size: 14px;
	background-color: #eee;
}

header {
	width: 100%;
	position: fixed;
	background-color: #eee;
	z-index: 2;

	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		text-align: center;
		width: 100%;
	
		li {
			display: inline-block;
			position: relative;
			margin: 0;
		}

		li.films {
			// background: #B08BD1;
		}

		li.restaurants {
			// background: #F46969;
		}

		li.places {
			// background: #83D2E5;
		}

			a {
				display: block;
				padding: 20px 30px;
				font-weight: 600;
				color: rgba(0,0,0,0.2);
				text-decoration: none;
				text-align: left;
			}

			a:hover {
				color: rgba(0,0,0,0.5);
			}

	}
}

body.home header ul li.logo a, body.films header ul li.films a, body.restaurants header ul li.restaurants a, body.places header ul li.places a {
	color: #111;
}

div#container {
	padding-top: 60px;
}

ul.content {
	list-style-type: none;
	width: 100%;
	border-radius: 3px;
	margin: 0;

	li {
		display: inline-block;
		width: 25%;
		margin: 0 0 1.5% 0;
		float: left;

		span {
			float: left;
			width: 94%;
			position: relative;
			margin: 0 0 0 3%;
		}

		h1 { 
			float: left;
		  	width: 100%;
		  	display: block;
		}

		h1 a {
		  background: #fff;
		  border-radius: 2px;
		  font-weight: 600;
		  text-decoration: none;
		  color: #444;
		  line-height: 28px;
		  float: left;
		  display: block;
		  width: 88%;
		  padding: 14px 6% 12px 6%;
		}

		h1 a:hover {
			background: #fcfcfc;
		}

		h2 {
			color: #ccc;
			font-size: 12px;
			line-height: 30px;
			position: absolute;
			top: 13px;
			right: 6%;
		}

	}

	li.film.inactive h1 a {
		background: #f6f6f6;
		color: #bbb;
	}

	@media all and (max-width: 1300px) and (min-width: 1000px) {
  		li {
			display: inline-block;
			width: 33%;
			margin: 0 0 2% 0;
			float: left;
  		}
	}

	@media all and (max-width: 1000px) and (min-width: 650px) {
  		li {
			display: inline-block;
			width: 50%;
			margin: 0 0 2% 0;
			float: left;
  		}
	}

	@media all and (max-width: 650px) and (min-width: 0px) {
  		li {
			display: inline-block;
			width: 100%;
			margin: 0 0 2% 0;
			float: left;
  		}
	}

}

form.edit_film {
	background: #fff;
	width: 500px;
	margin: 0 auto;
	padding: 38px 40px 40px 40px;
	border-radius: 2px;
	box-shadow: 0px 2px rgba(100,100,100,0.1);
}

div.status {
	width: 120px;
	height: 120px;
	background: #ffaaaa;
	border-radius: 60px;
	margin: 6px auto 20px auto;
}

div.status a {
	display: block;
	width: 120px;
	height: 120px;
}

div.status.watched {
	background: #aaffaa;
}

input#film_title {
	width: 100%;
	font-family: 'Open Sans';
	border: 0;
	border-bottom: 1px solid #f4f4f4;
	line-height: 58px;
	font-size: 24px;
	padding: 1px 0px 0 0px;
	margin-bottom: 16px;
	color: #333;
	text-align: center;
}

input.submit {
	font-family: 'Open Sans';
	font-size: 16px;
	color: #bbb;
	font-weight: 600;
	padding: 18px 22px;
	background: #f6f6f6;
	border: 0;
	border-radius: 2px;
	border-bottom: 1px solid #f2f2f2;
	display: block;
	margin: 0 auto;
	width: 100%;
}

input.submit:hover {
	background: #f2f2f2;
	color: #999;
}

input.submit:active {
	background: #e2e2e2;
	color: #666;
	padding: 19px 22px 17px 22px;
}

div.dateselect {
	display: block;
	text-align: center;
	margin-bottom: 50px;
}

select {
	background: #fff;
	border-radius: 0;
	margin: 0 12px 0 0;
	font-family: 'Open Sans';
	font-size: 18px;
	color: #aaa;
	border: 0;
	padding: 0;
	-webkit-appearance: none;
	text-align: -webkit-center;
}
